
<% if params[:year] %>
  <% title "Shows from #{params[:year]}" %>
<% else %>
  <% title "Recent Shows" %>
<% end %>

<h1><%= yield :title  %></h1>

<% @shows.each do |show| %>
  <%= render partial: 'shows/show', locals: { show: show } %>
<% end %>
